AddType audio/mp3 .mp3

RewriteEngine On
<If "%{ENV:LOAD_BALANCER_MODE} == '1' && %{HTTP:X-LOAD-BALANCER} != %{ENV:LOAD_BALANCER_KEY}">
    RewriteRule .* - [F]
</If>

RewriteCond %{HTTP_HOST} ^www.alquran.cloud$
RewriteRule ^(.*)$ https://alquran.cloud/$1 [R=301,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]
